/* AZUL: #001a60 */
/* AMARILLO: #ffc000 */
/* GRIS: #383535 */



body {
  font-family: "Agency FB";
}

.caption {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

@page :first{
  
  margin: 0 0 0 0;
  background-image: url("portada_postales_1.png");
  background-position: cover;
}



.pagedjs_page:last-of-type {
    background-image: url("postales_backcover.png");

}
@page  {
  @bottom-right {
    content: counter(page);
  }
}


.title, .date, .author {
  display: none;
}